.table-responsive {
    
    background-color:$colBlanco1;
    margin-bottom: 5em;

    thead{

        background-color: $colNegro1;
        color: $colBlanco1;
        padding: 2em;
    }
    tbody{

        background-color: $colNegro4;
        color: $colBlanco1;
        padding: 2em;
    }
}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
}



