.card-order{

    border: 0.20em solid $colRoj2;
    border-radius: 0.5em;
    color: $colBlanco1;
    margin: 1em;
    padding: 1em;
}

.card-img>img{
    display: flex;
    width:9vw;
    margin: 0.5em;

}