.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $colRoj1;
    height: 5em;
    border: 0.20em solid $colRoj1;
    border-radius: 0.3em;
    
}
