.designBoton {

    height: 2.3em;
    display: flex;
    width: 4em;
    margin: 1em;
    border-radius: 0.2em;
    transition: 0.4s;
    color: rgb(182, 191, 221);
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}